@import "../../styles/variables";

$header-height: 56px;
$footer-height: 0px;

.container {
  min-height: 100vh;
}

.body {
  width: 100%;
  margin-top: $header-height;
  height: calc(100vh - #{$header-height} - #{$footer-height});
}

.main {
  flex: 1;
  max-height: calc(100vh - #{$header-height} - #{$footer-height});
  overflow-y: auto;
  scroll-behavior: smooth;
}

.full {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}